html{
    scroll-behavior: smooth;
}
.inner-cover{
    margin-top: 4em;
}
/*FEATURED*/
/* Ikon media sosial */
.sticky-container{ padding:0px; margin:0px; position:fixed; right:-130px;top:250px; width:210px; z-index: 1100;}
.sticky li{list-style-type:none;background-color:#fff;height:43px;padding:0px;margin:0px 0px 1px 0px; -webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; cursor:pointer; border-radius: 25px;}
.sticky li:hover{margin-left:-100px;}
.sticky li img{float:left;margin:5px 4px;margin-right:5px;}
.sticky li p{padding-top:5px;margin:0px;line-height:16px; font-size:11px;}
.sticky li p a{ text-decoration:none; color:#2C3539;}
.sticky li p a:hover{text-decoration:underline;}
/*end ikon sosial media*/

/*Navbar*/
 .navbar{
     background: #fff;
     padding-top: 0;
     padding-bottom: 0;
     box-shadow: 1px 3px 4px 0 #adadad33;
}
 .navbar-light .navbar-brand {
     color: #2196F3;
}
 .navbar-light .navbar-nav .nav-link {
     color: #1ebdc2;
}
 .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
     color: #1ebdc2;
}
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #fff;
}
 .navbar-light .navbar-nav .nav-link{
     padding-top: 22px;
     padding-bottom: 22px;
     transition: 0.3s;
     padding-left: 24px;
     padding-right: 24px;
         font-size: 14px;
}
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
     background: #1ebdc2;
     transition: 0.3s;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1ebdc2 !important;
}
.sm-menu{
    border-radius: 0px;
    border: 0px;
    top: 97%;
    box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
    color: #3c3c3c;
        font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2196F3;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-tog{
    color: #1ebdc2;
}
.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.megamenu h6{
    margin-left: 21px;
}
.megamenu i{
    width: 20px;
}


/*End Navbar*/
/*Svg*/
svg{
    margin-top: -10em;
}

/*featured*/
.featured img{
    max-width: 100%;
}
/*end featured*/
/*Widget*/
.widget{
    background-color: #444d55;
}
.widget h5{
    color: #fff;
}

.widget a{
    color: #fff;
    text-decoration: none;
}

.widget a:hover{
    color: #1ebdc2;
    text-decoration: none;
}

.widget p{
    color: #fff !important;
}

.widget li{
    color: #fff;
    text-decoration: none;
    padding: 5px 0 5px 0;
}
.input-group-text i{
    color: #000;
}

.widget form{
    max-width: 300px;
}
.card h5{
    color: #000;
}
.widget .card{
    max-width: 20rem;
}
/*End Widget*/

/*Track Order*/
.input-group-text {
    display: block !important;
} 
/*End Track Order*/

/*Footer*/
.footer-copyright{
    color: #fff;
}
.footer-copyright a{
    color: #fff;
    text-decoration: none;
}
.footer-copyright a:hover{
    color: #00ccff;
    text-decoration: none;
}
/*End Footer*/

/*Fade in Animate*/
@-webkit-keyframes fadeInleft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInleft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInleft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInleft;
    -moz-animation-name: fadeInleft;
    -o-animation-name: fadeInleft;
    animation-name: fadeInleft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
/*END Fade in Animate*/

/*Jumbotron*/
.jumbotron {
    background-color: #fff !important;
}
/*End Jumbotron*/
/*END FEATURED*/

/*INDEX Page*/
/*Carousel*/
.carousel{
    max-height: 600px;
}

.carousel-item{
    position: relative !important;
}

.black-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
}
/*End Carousel*/

/*Section Pricing*/
/*Pricing Print*/
@media screen and (min-width: 992px) {
    .pricing .nav-link{
        padding: 0.5rem 10rem !important;
    }

}
.pricing .nav-item{
        margin:auto;
}

.pricing{
    background-color: #f7f7f7;
}
.carousel-pricing{
    max-height: 1010px;
}
.carousel-pricing a{
    text-decoration: none;
}
.carousel-control-prev-icon-price{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 40%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 300%);
}
.carousel-control-next-icon-price{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 300%);
}

#carouselProductArt i {
    color: #000;
}

.carousel-caption{
    color: #000;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 50px;
}

.fa-chevron-right{
    position: relative;
    margin-right: -70%;
}
.fa-chevron-left{
    position: relative;
    margin-right: 70%;
}
/*End Pricing Print*/

/*Print Jasa Web*/
#pricing img{
    max-width: 100%;
    margin: auto;
    display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  margin:auto;
}

.overlay a{
    text-decoration: none;
}

.col-md-4:hover .overlay {
  opacity: 1;
  background-color: #f7f7f7;
}

.text-jw {
  color: #000;
  /*font-size: 20px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}
/*End Print Jasa Web*/

/*Mobile Pricing*/
#pricingMobile {
    background-color: #f7f7f7;
}
/*End Mobile Pricing*/
/*End Section Pricing*/

/*Section Subscribe*/
#subscribe{
    background: url("../img/subs-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
    padding-bottom: 3em;
}
#subscribe img{
    margin-top: -60px !important;
    max-width: 100%;
}

#subscribe .centered {
    position: absolute;
    left: 50%;
    margin-top: -120px;
    transform: translate(-50%, -50%);
}
@keyframes swinging{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(3deg);}
    75%{transform: rotate(-3deg);}
    100%{transform: rotate(0deg);}
}

#subscribe .container-swing:hover {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s linear forwards infinite;
    animation: swinging 2s linear forwards infinite;
}
/*End Section Subscribe*/

/*Section featured*/
.featured{
    background-color: #343a40;
    color: #fff;
}
/*EndSection featured*/

/*Section Portfolio*/
.card-columns img{
    padding: 5px 5px;
}
/*End Section Portfolio*/
/*END INDEX Page*/

/*About Page*/
#about{
    background: url("../img/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
}

.fold {
    margin-top: .5em;
    max-height: 400px;
    max-width: 900px;
    margin-left: 50px;
}
/* folding */
.fold::before {
    content:"";
    position: absolute;
    margin-top: 0px;
    margin-left: 850px;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: #ddd #344;
    transition: all ease 0.5s;
    z-index: 1;
}
.fold:hover::before {
    border-width: 0 80px 80px 0;
    border-color: #eee #344;
    margin-left: 820px;
}

#about .img-fold{
    position: absolute;
    left: 50px;
    max-width: 900px;
    border-radius: 0px 0px 30px 0px;
}

#about .img-about{
    max-width: 300px;
}
/*End About Page*/

/*Contact Page*/
#contact-page .card{
    background-color: #f7f7f7;
}
/*End Contact Page*/

/*FAQ Page*/
#faq button{
    text-decoration: none;
}
/*End FAQ Page*/

/*Produk*/
/*img Produk*/
#nameCard .carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    max-width: 40px
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

#custCarousel i{
    color: #000;
}

.carousel-item img {
    width: 80%
}
/*End Img Produk*/

/*detail product*/
.desc {
    display: none;
}
.input-group a{
    text-decoration: none;
}
/*.form-group button{
    margin-top: 2em;
}*/
/*End Detail Product*/

/*Jasa web company profile*/

/*end Jasa web company profile*/
/*END Produk*/

/*Blog*/
#blog a{
    text-decoration: none !important;
    color: #000;
}
#blog .card{
    padding: 1em;
}
#artPage img{
    width: 100%;
}
.recUpdPost img{
    width: 15% !important;
}
.recUpdPost a{
    text-decoration: none;
    color: #000;
}
.tagsPost button{
    margin: 5px;
}
/*Blog*/
/*Konfirmasi Payment Page*/
.confPay th{
    max-width: 30px;
}
/*End Konfirmasi Payment Page*/